.container {
  width: 320px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
body {
  font-family: 'PT Sans', sans-serif;
}
.flex-container {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
fieldset {
  margin: 0;
  padding: 0;
}
.page-main {
  overflow: hidden;
}
.tablet-nav {
  display: none;
  height: 56px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .tablet-nav {
    display: block;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.main-nav {
  display: flex;
  flex-direction: column-reverse;
}
.main-nav__togle--close {
  width: 26px;
  height: 26px;
  margin-left: 25px;
  background-image: url(../img/icon-cross.png);
  background-color: black;
  font-size: 0;
}
.main-nav__togle--open {
  width: 25px;
  height: 23px;
  background-image: url(../img/icon-menu.png);
  background-color: white;
  border-color: white;
  font-size: 0;
  margin-right: 19px;
  margin-top: 15px;
}
.page-header__logo-image--desktop {
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    display: none;
  }
}
@media (min-width: 1200px) {
  .page-header__logo-image {
    display: none;
  }
  .page-header__logo-image--desktop {
    display: block;
  }
}
.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-list__small-list {
  height: 56px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.site-list__small-list--first {
  flex-direction: row-reverse;
}
.site-list__small-list--second {
  flex-direction: row-reverse;
}
.site-list__small-list__item--first-first {
  order: 1;
  margin-right: 64px;
}
.site-list__small-list__item--second-first {
  order: 1;
  flex-basis: 121px;
  padding-top: 3px;
}
.site-list__small-list__item--second-first a {
  margin-right: 20px;
}
.site-list__small-list__item--second-second {
  flex-basis: 91px;
}
.site-list__item {
  text-align: center;
  height: 56px;
  font-size: 18px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  background-color: hsl(203, 47%, 66%);
}
.site-list__item--first {
  background-color: hsl(0, 0%, 100%);
  order: 2;
}
.site-list__item a {
  display: block;
  margin-top: 7px;
}
.site-list a {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  .site-list__small-list__item--first-first {
    order: 0;
    margin-right: 64px;
  }
}
.prewiev {
  background-image: url(../img/slider.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  height: 299px;
  padding-left: 19px;
  padding-top: 89px;
  overflow: hidden;
}
.prewiev::after {
  content: "";
  display: block;
  background-image: url(../img/intro-triangle.png);
  background-repeat: no-repeat;
  height: 57px;
  width: 1201px;
  position: relative;
  top: 28px;
  left: -459px;
}
.prewiev__text--mobile {
  display: block;
}
.prewiev__text--tablet-desktop {
  display: none;
}
@media (min-width: 768px) {
  .prewiev {
    background-image: url(../img/slider-tablet.jpg);
    background-position: 50% 0%;
    height: 441px;
    padding-left: 154px;
    padding-top: 77px;
  }
  .prewiev__text--mobile {
    display: none;
  }
  .prewiev__text--tablet-desktop {
    display: block;
  }
  .prewiev::after {
    top: 34px;
    left: -370px;
  }
}
@media (min-width: 1200px) {
  .prewiev {
    padding-left: 370px;
    padding-top: 78px;
  }
  .prewiev::after {
    top: 33px;
  }
}
.advantages {
  text-align: center;
  overflow: hidden;
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages__header {
  font-size: 18px;
  line-height: 26px;
  margin: 41px auto 0 auto;
  width: 257px;
  text-transform: uppercase;
  font-weight: bold;
}
.advantages__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  width: 252px;
  margin: 27px auto 0 auto;
  color: #333333;
}
.advantages__item {
  list-style: none;
  overflow: hidden;
}
.advantages__item__header {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-top: 41px;
  text-transform: uppercase;
}
.advantages__item__header--first {
  background-color: hsl(203, 47%, 66%);
  color: white;
  margin-top: 4px;
}
.advantages__item__header--first::before {
  content: "";
  display: block;
  width: 768px;
  height: 37px;
  background-image: url(../img/white-copy.png);
  background-repeat: no-repeat;
  position: relative;
  top: -41px;
  left: -223px;
}
.advantages__item__header--second {
  background-color: hsl(203, 47%, 66%);
  color: white;
  margin-top: 37px;
}
.advantages__item__header--second--tablet {
  display: none;
}
.advantages__item__header--third {
  margin-top: -13px;
  background-color: hsl(0, 0%, 93%);
}
.advantages__item__header--fourth {
  background-color: hsl(0, 0%, 93%);
  padding-top: 17px;
  letter-spacing: 0.2px;
}
.advantages__item__header--fourth {
  background-color: #eeeeee;
}
.advantages__item__header--fifth {
  background-color: hsl(0, 0%, 93%);
  padding-top: 25px;
  letter-spacing: 0.2px;
}
.advantages__item__photo {
  margin-left: -100px;
}
.advantages__item__number,
.advantages__item__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #333333;
}
.advantages__item__number--first,
.advantages__item__text--first {
  background-color: hsl(203, 47%, 66%);
  color: white;
}
.advantages__item__number--second,
.advantages__item__text--second {
  background-color: hsl(203, 47%, 66%);
  color: white;
}
.advantages__item__number--third,
.advantages__item__text--third {
  background-color: hsl(0, 0%, 93%);
}
.advantages__item__number--fourth,
.advantages__item__text--fourth {
  background-color: hsl(0, 0%, 93%);
}
.advantages__item__number--fifth,
.advantages__item__text--fifth {
  background-color: hsl(0, 0%, 93%);
}
.advantages__item__number--first {
  padding-top: 10px;
}
.advantages__item__number--second {
  padding-top: 7px;
}
.advantages__item__number--third {
  padding-top: 8px;
}
.advantages__item__number--fourth {
  padding-top: 8px;
}
.advantages__item__number--fifth {
  padding-top: 8px;
}
.advantages__item__text--first {
  padding: 15px 20px 38px 20px;
}
.advantages__item__text--second {
  padding-top: 15px;
  padding-bottom: 39px;
}
.advantages__item__text--third {
  padding: 15px 20px 38px 19px;
}
.advantages__item__text--third::after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  background-color: #d6d6d6;
  position: relative;
  top: 27px;
}
.advantages__item__text--fourth {
  padding: 15px 30px 30px 30px;
}
.advantages__item__text--fourth::after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  background-color: #d6d6d6;
  position: relative;
  top: 27px;
  left: -10px;
}
.advantages__item__text--fifth {
  padding: 15px 34px 27px 31px;
}
.advantages__item--third {
  margin-top: -4px;
}
.photo-1--tablet {
  display: none;
}
.photo-1--desktop {
  display: none;
}
.photo-2--tablet {
  display: none;
  margin: 0;
  margin-top: 37px;
  float: left;
  width: 512px;
}
.photo-2--desktop {
  display: none;
}
@media (min-width: 768px) {
  .advantages__header {
    font-size: 21px;
    line-height: 26px;
    width: 445px;
    margin-top: 51px;
  }
  .advantages__text {
    width: 500px;
    margin-bottom: 50px;
  }
  .advantages__item--first {
    margin-top: 46px;
  }
  .advantages__item--third,
  .advantages__item--fourth,
  .advantages__item--fifth {
    margin: 0;
    flex-basis: 256px;
    height: 256px;
  }
  .advantages__item__wrapper {
    width: 256px;
  }
  .advantages__item__wrapper--first {
    float: left;
  }
  .advantages__item__wrapper--second {
    float: right;
  }
  .advantages__item__wrapper--third {
    display: flex;
  }
  .advantages__item__header {
    font-size: 21px;
    line-height: 26px;
  }
  .advantages__item__header--first {
    padding: 47px 42px 8px 41px;
    margin-top: 0;
  }
  .advantages__item__header--first::before {
    display: none;
  }
  .advantages__item__header--second {
    display: none;
  }
  .advantages__item__header--second--tablet {
    display: block;
    padding-top: 46px;
  }
  .advantages__item__header--third {
    padding: 59px 50px 1px 50px;
  }
  .advantages__item__header--fourth {
    padding: 46px 75px 1px 75px;
  }
  .advantages__item__header--fifth {
    padding: 46px 78px 1px 78px;
  }
  .advantages__item__number--first {
    padding-top: 0;
  }
  .advantages__item__number--second {
    padding-bottom: 8px;
  }
  .advantages__item__text--first {
    width: 170px;
    padding: 22px 43px 43px 43px;
  }
  .advantages__item__text--second {
    padding: 15px 50px 44px 50px;
  }
  .advantages__item__text--third {
    padding: 21px 49px 44px 49px;
  }
  .advantages__item__text--fourth {
    padding: 21px 59px 44px 59px;
  }
  .advantages__item__text--fifth {
    padding: 22px 52px 43px 52px;
  }
  .advantages__item__text--third::after,
  .advantages__item__text--fourth::after,
  .advantages__item__text--fifth::after {
    display: none;
  }
  .photo-1 {
    display: none;
  }
  .photo-1--tablet {
    display: block;
  }
  .photo-2 {
    display: none;
  }
  .photo-2--tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    background-color: hsl(0, 0%, 93%);
  }
  .advantages__item__wrapper--first {
    max-width: 400px;
    min-width: 400px;
    background-color: hsl(203, 47%, 66%);
  }
  .advantages__item__wrapper--second {
    max-width: 400px;
    min-width: 400px;
    margin-top: 38px;
    background-color: hsl(203, 47%, 66%);
  }
  .advantages__item__header--first {
    width: 126px;
    padding: 52px 138px 9px 136px;
  }
  .advantages__item__header--second {
    padding-top: 54px;
    margin-top: 0;
  }
  .advantages__item__header--third,
  .advantages__item__header--fourth,
  .advantages__item__header--fifth {
    width: 135px;
    padding: 0;
    display: block;
    margin: 46px auto 0 auto;
  }
  .advantages__item__text--first {
    padding: 0;
    display: block;
    width: 286px;
    margin: 21px 0 58px 57px;
  }
  .advantages__item__text--second {
    padding: 15px 90px 56px 90px;
  }
  .advantages__item--third,
  .advantages__item--fourth,
  .advantages__item--fifth {
    margin: 0;
    flex-basis: 400px;
    height: 256px;
  }
  .photo-1 {
    display: none;
  }
  .photo-1--tablet {
    display: none;
  }
  .photo-1--desktop {
    display: block;
    margin: -1px;
  }
  .photo-2 {
    display: none;
  }
  .photo-2--tablet {
    display: none;
  }
  .photo-2--desktop {
    display: block;
    margin-top: 37px;
    margin-left: 0;
  }
}
.small-list {
  list-style: none;
  margin: 0;
  margin-top: -5px;
  padding: 0;
}
.small-list__header {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
}
.small-list__header--first {
  margin-bottom: 13px;
}
.small-list__header--first::before {
  display: block;
  content: "";
  background-image: url(../img/icon-house.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 37px;
  height: 37px;
  position: relative;
  top: 28px;
  left: -47px;
}
.small-list__header--second {
  margin-top: -8px;
  margin-bottom: 13px;
}
.small-list__header--second::before {
  display: block;
  content: "";
  background-image: url(../img/icon-gift.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 37px;
  height: 37px;
  position: relative;
  top: 26px;
  left: -43px;
}
.small-list__header--third {
  margin-top: -8px;
  margin-bottom: 13px;
}
.small-list__header--third::before {
  display: block;
  content: "";
  background-image: url(../img/icon-burger.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 37px;
  height: 37px;
  position: relative;
  top: 33px;
  left: -49px;
}
.small-list__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.small-list__text--third {
  width: 200px;
}
.small-list__item {
  text-align: left;
  text-transform: uppercase;
  padding-left: 69px;
}
@media (min-width: 768px) {
  .small-list {
    display: flex;
    margin-top: 0;
  }
  .small-list__header {
    margin-top: 88px;
    font-size: 21px;
    line-height: 26px;
  }
  .small-list__header--first::before {
    display: block;
    content: "";
    background-image: url(../img/icon-house-tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 75px;
    height: 72px;
    position: relative;
    top: -28px;
    left: 90px;
  }
  .small-list__header--second {
    margin-top: 85px;
  }
  .small-list__header--second::before {
    display: block;
    content: "";
    background-image: url(../img/icon-gift-tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 75px;
    position: relative;
    top: -28px;
    left: 95px;
  }
  .small-list__header--third {
    padding-top: 4px;
  }
  .small-list__header--third::before {
    display: block;
    content: "";
    background-image: url(../img/icon-burger-tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 77px;
    height: 68px;
    position: relative;
    top: -29px;
    left: 89px;
  }
  .small-list__text {
    width: 165px;
    margin: 0 auto;
    color: #333333;
    margin-top: 20px;
  }
  .small-list__text--third {
    width: 151px;
  }
  .small-list__item {
    padding: 0;
    flex-basis: 256px;
    text-align: center;
    height: 330px;
    margin-bottom: -37px;
  }
  .small-list__item--second {
    order: 3;
  }
  .small-list__item--third {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .small-list {
    justify-content: space-around;
    margin-top: 1px;
  }
}
.interesting {
  margin-bottom: 66px;
}
.interesting__header {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  margin-left: 56px;
}
.interesting__text {
  font-size: 14px;
  line-height: 24px;
  margin: 19px auto 49px auto;
  padding: 0;
  width: 262px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.interesting__text--tablet {
  display: none;
}
@media (min-width: 768px) {
  .interesting {
    margin-bottom: 73px;
  }
  .interesting__header {
    font-size: 30px;
    line-height: 26px;
    margin: 0;
    margin-top: 57px;
    padding: 0;
    text-align: center;
  }
  .interesting__text {
    display: none;
  }
  .interesting__text--tablet {
    display: block;
    width: 435px;
    padding-top: 11px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .interesting__text--tablet {
    margin-bottom: 63px;
  }
}
.button-sample {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  color: white;
  font-weight: bold;
  background-color: #81b3d2;
  text-transform: uppercase;
}
.button-sample--index {
  margin-left: 20px;
  padding: 15px 46px 18px 47px;
}
.button-sample--form {
  margin-left: 18px;
  margin-top: 45px;
  padding: 16px 50px 16px 48px;
}
@media (min-width: 768px) {
  .button-sample--index {
    padding: 17px 138px 16px 135px;
    margin-left: 155px;
  }
  .button-sample--form {
    padding-left: 63px;
    padding-right: 76px;
    margin-left: 9px;
  }
}
@media (min-width: 1200px) {
  .button-sample--index {
    margin-left: 371px;
  }
  .button-sample--form {
    padding-left: 63px;
    padding-right: 76px;
    margin-left: 9px;
  }
}
.page-footer__hash {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  margin-left: 91px;
  margin-top: 33px;
}
.page-footer__social-list {
  display: flex;
  width: 152px;
  margin-left: 44px;
  margin-top: 35px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .page-footer {
    height: 120px;
    display: flex;
    align-items: center;
  }
  .page-footer__hash {
    margin: 0 27px 0 60px;
    padding: 0;
  }
  .page-footer__social-list {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    margin-left: 59px;
  }
  .page-footer__hash {
    margin-right: 184px;
  }
}
.social-list__item {
  font-size: 0;
  height: 48px;
  flex-basis: 48px;
  background-color: #81b3d2;
  background-position: 50%;
  background-repeat: no-repeat;
}
.social-list__item--first {
  background-image: url(../img/icon-twitter.png);
}
.social-list__item--second {
  background-image: url(../img/icon-facebook.png);
}
.social-list__item--third {
  background-image: url(../img/icon-youtube.png);
}
.photo__header {
  background-image: url(../img/slider.jpg);
  background-repeat: no-repeat;
  background-position: -225px -231px;
}
.photo__header__image {
  position: relative;
  top: 51px;
  left: 45px;
}
.photo__header__image--tablet {
  display: none;
  width: 458px;
  height: 78px;
  top: 95px;
  left: 156px;
}
.photo__header__text-wrapper {
  margin-top: 44px;
}
.photo__header__text-wrapper::before {
  content: "";
  display: block;
  height: 56px;
  background-image: url(../img/intro-triangle.png);
  background-position: -442px;
  position: relative;
  top: 15px;
}
.photo__header__header {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;
  padding-top: 39px;
  padding-left: 98px;
  text-transform: uppercase;
  background-color: white;
  font-weight: bold;
}
.photo__header__text {
  width: 275px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  padding: 27px 21px 25px 24px;
  margin: 0;
  background-color: white;
}
.photo__header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .photo__header {
    background-image: url(../img/slider-tablet.jpg);
    background-repeat: no-repeat;
    background-position: -216px -228px;
    margin-bottom: 1px;
  }
  .photo__header__text-wrapper {
    margin-top: 176px;
  }
  .photo__header__text-wrapper::before {
    background-position: -216px;
    top: -20px;
  }
  .photo__header__image {
    display: none;
  }
  .photo__header__image--tablet {
    display: block;
  }
  .photo__header__header {
    font-size: 30px;
    line-height: 26px;
    padding-left: 278px;
    padding-top: 31px;
    letter-spacing: 0.3px;
  }
  .photo__header__text {
    width: 430px;
    margin-left: 145px;
    margin-top: 3px;
  }
  .photo__header::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .photo__header {
    background-position: 0px -217px;
    padding-bottom: 22px;
  }
  .photo__header__image--tablet {
    top: 103px;
    left: 371px;
  }
  .photo__header__text-wrapper {
    margin-top: 224px;
  }
  .photo__header__text-wrapper::before {
    background-position: 0px;
    top: -57px;
  }
  .photo__header__header {
    padding-left: 493px;
  }
  .photo__header__text {
    margin-left: 359px;
  }
}
.photo-block {
  padding-left: 20px;
}
.photo-block__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.photo-block__like-count {
  display: flex;
  height: 22px;
  margin-top: 2px;
  align-items: baseline;
}
.photo-block__like-image {
  margin-right: 10px;
  font-weight: bold;
}
.photo-block__like-image--desktop {
  display: none;
}
.photo-block__like-number {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.photo-block__image-name {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.photo-block__author {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.photo-block__item {
  padding-top: 22px;
  padding-bottom: 21px;
}
.photo-block__item::after {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  position: relative;
  top: 20px;
  left: -20px;
}
.photo-block__image {
  margin-bottom: 15px;
}
.photo-block__image--first-mobile {
  display: block;
}
.photo-block__image--first-tablet {
  display: none;
  margin-top: 20px;
  margin-bottom: 0;
}
.photo-block__image--first-desktop {
  display: none;
}
.photo-block__image--second-mobile {
  display: block;
}
.photo-block__image--second-tablet {
  display: none;
}
.photo-block__image--third-mobile {
  display: block;
}
.photo-block__image--third-tablet {
  display: none;
}
.photo-block__image--fourth-mobile {
  display: block;
}
.photo-block__image--fourth-tablet {
  display: none;
}
@media (min-width: 768px) {
  .photo-block {
    padding-left: 60px;
    padding-right: 60px;
  }
  .photo-block__item {
    padding-bottom: 0;
  }
  .photo-block__item--2,
  .photo-block__item--3,
  .photo-block__item--4 {
    padding-top: 0;
    height: 347px;
  }
  .photo-block__item__bottom-line {
    background-color: #f2f2f2;
    padding: 16px 0 16px 20px;
  }
  .photo-block__item::after {
    display: none;
  }
  .photo-block__image--first-mobile {
    display: none;
  }
  .photo-block__image--first-tablet {
    display: block;
  }
  .photo-block__image--second-mobile {
    display: none;
  }
  .photo-block__image--second-tablet {
    display: block;
    margin-bottom: 0;
  }
  .photo-block__image--second-desktop {
    display: none;
  }
  .photo-block__image--third-mobile {
    display: none;
  }
  .photo-block__image--third-tablet {
    display: block;
    margin-bottom: 0;
  }
  .photo-block__image--third-desktop {
    display: none;
  }
  .photo-block__image--fourth-mobile {
    display: none;
  }
  .photo-block__image--fourth-tablet {
    display: block;
    margin-bottom: 0;
  }
  .photo-block__image--fourth-desktop {
    display: none;
  }
  .photo-block__like-count {
    width: fit-content;
    float: right;
    position: relative;
    top: -38px;
    left: -19px;
  }
  .photo-block__like-count--2 {
    left: -28px;
  }
  .photo-block__like-count--3 {
    left: -35px;
  }
  .photo-block__like-count--4 {
    left: -28px;
  }
  .photo-block__like-number {
    position: relative;
    top: -4px;
  }
  .photo-flex {
    display: flex;
    flex-direction: column;
  }
  .photo-flex__item--first {
    margin-bottom: -8px;
  }
  .photo-flex__item--second {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .photo-block {
    padding: 0;
  }
  .photo-block__image--first-tablet,
  .photo-block__image--second-tablet,
  .photo-block__image--third-tablet,
  .photo-block__image--fourth-tablet {
    display: none;
  }
  .photo-block__image--first-desktop,
  .photo-block__image--second-desktop,
  .photo-block__image--third-desktop,
  .photo-block__image--fourth-desktop {
    display: block;
    margin: 0;
  }
  .photo-block__item__bottom-line {
    background-color: hsla(0, 0%, 0%, 0.3);
    padding: 16px 0 16px 20px;
    position: relative;
    top: -80px;
    color: white;
  }
  .photo-block__item--first {
    padding-top: 44px;
  }
  .photo-block__item--2,
  .photo-block__item--3,
  .photo-block__item--4 {
    flex-basis: 400px;
    margin-top: -80px;
  }
  .photo-block__like-image {
    display: none;
  }
  .photo-block__like-image--desktop {
    display: block;
  }
}
.video-block {
  margin-bottom: 138px;
}
.video-block__header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 34px;
  font-weight: bold;
}
.video-block__text {
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 26px auto 34px auto;
}
.video-block__video {
  width: 100%;
  height: 201px;
}
@media (min-width: 768px) {
  .video-block {
    margin-bottom: 26px;
  }
  .video-block__header {
    font-size: 30px;
    line-height: 26px;
    margin-top: 68px;
  }
  .video-block__text {
    width: 440px;
    margin-top: 30px;
  }
  .video-block__video {
    width: 648px;
    height: 500px;
    margin: 38px 60px 10px 60px;
  }
}
@media (min-width: 1200px) {
  .video-block {
    margin-bottom: 82px;
  }
  .video-block__header {
    margin-top: -8px;
  }
  .video-block__video {
    margin: 36px 200px 0 200px;
    width: 800px;
  }
}
.page-main__header {
  background-image: url(../img/slider.jpg);
  background-repeat: no-repeat;
  background-position: -224px -232px;
}
.page-main__header__image {
  margin-top: 51px;
  margin-left: 45px;
}
.page-main__header__image--tablet {
  display: none;
}
.page-main__header__header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 46px;
}
.page-main__header__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 26px;
  text-align: center;
  color: #333333;
}
.page-main__header__text-wrapper {
  text-align: center;
}
.page-main__header__text-wrapper::before {
  content: "";
  display: block;
  height: 56px;
  background-image: url(../img/intro-triangle.png);
  background-position: -440px;
  position: relative;
  top: 7px;
}
.page-main__header::after {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  position: relative;
  top: 2px;
}
@media (min-width: 768px) {
  .page-main__header {
    background-image: url(../img/slider-tablet.jpg);
    background-position: -216px -228px;
  }
  .page-main__header__header {
    font-size: 30px;
    line-height: 26px;
  }
  .page-main__header__text {
    width: 445px;
    margin: 32px auto 0 auto;
  }
  .page-main__header::after {
    display: none;
  }
  .page-main__header__text-wrapper {
    margin-top: 90px;
  }
  .page-main__header__text-wrapper::before {
    background-position: -216px;
    position: relative;
    top: -29px;
  }
  .page-main__header__image {
    display: none;
  }
  .page-main__header__image--tablet {
    display: block;
    margin: 0;
    padding: 95px 144px 0px 155px;
  }
}
@media (min-width: 1200px) {
  .page-main__header {
    background-position: 0px -217px;
  }
  .page-main__header__text-wrapper {
    margin-top: 131px;
  }
  .page-main__header__text-wrapper::before {
    background-position: 0;
    top: -67px;
  }
  .page-main__header__image--tablet {
    padding: 103px 368px 0px 370px;
  }
}
.main-form {
  margin-bottom: 40px;
}
.main-form__fieldset {
  border-width: 0;
}
.main-form__fieldset:nth-child(5)::after {
  display: none;
}
.main-form__fieldset-list {
  list-style: none;
  margin: 0;
  padding: 20px 20px 3px 20px;
}
.main-form__fieldset-list__item {
  align-items: center;
  margin-bottom: 18px;
}
.main-form__fieldset::after {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  position: relative;
  top: 2px;
}
.main-form__fieldset-item-positive::after,
.main-form__fieldset-item-negative::after,
.main-form__fieldset-item-unknown::after {
  content: "";
  display: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  left: -245px;
  top: 18px;
}
.main-form__fieldset-item--devils-bridge::after,
.main-form__fieldset-item--mountain::after,
.main-form__fieldset-item--park::after,
.main-form__fieldset-item--red-mountains::after {
  content: "";
  display: none;
  width: 24px;
  height: 16px;
  position: relative;
  top: 20px;
  right: 182px;
  background-image: url(../img/tick.png);
  background-repeat: no-repeat;
}
.main-form__legend {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding-top: 21px;
}
.main-form__input-field {
  height: 58px;
  background-color: #f2f2f2;
  border-width: 0;
  flex-grow: 1;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}
.main-form__input-field--name,
.main-form__input-field--lastname,
.main-form__input-field--father {
  width: 100px;
}
.main-form__input-field--tel {
  background-image: url(../img/tel.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
}
.main-form__input-field--email {
  background-image: url(../img/mail.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  margin-bottom: 21px;
}
.main-form__label--tel {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 6px;
  padding-left: 22px;
}
.main-form__label--tel-desktop {
  display: none;
}
.main-form__label--email {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  margin-top: 11px;
  margin-bottom: 6px;
  padding-left: 20px;
}
.main-form__label--positive,
.main-form__label--negative,
.main-form__label--unknown {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  width: 262px;
}
.main-form__label--positive::before,
.main-form__label--negative::before,
.main-form__label--unknown::before {
  content: "";
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 22px;
}
.main-form__label--unknown {
  margin-bottom: 20px;
}
.main-form__label--devils-bridge,
.main-form__label--mountain,
.main-form__label--park,
.main-form__label--red-mountains {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  width: 200px;
}
.main-form__label--devils-bridge::before,
.main-form__label--mountain::before,
.main-form__label--park::before,
.main-form__label--red-mountains::before {
  content: "";
  display: block;
  width: 56px;
  height: 56px;
  margin-right: 22px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.main-form ::placeholder {
  color: black;
}
.main-form__radio {
  display: none;
}
.main-form__chexkbox {
  display: none;
}
.main-form__textarea {
  max-width: 256px;
  max-height: 141px;
  padding-top: 17px;
  padding-left: 21px;
  border: 0px;
  margin: 0px;
  width: 285px;
  height: 170px;
  resize: none;
  background-color: #f2f2f2;
  margin-top: 16px;
  margin-left: 19px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.main-form__required-fields {
  display: none;
}
.main-form__fieldset--introduce .main-form__label {
  text-transform: uppercase;
  margin-right: 10px;
}
#positive:checked ~ .main-form__fieldset-item-positive::after,
#negative:checked ~ .main-form__fieldset-item-negative::after,
#unknown:checked ~ .main-form__fieldset-item-unknown::after {
  display: block;
}
#devils-bridge:checked ~ .main-form__fieldset-item--devils-bridge::after,
#mountain:checked ~ .main-form__fieldset-item--mountain::after,
#park:checked ~ .main-form__fieldset-item--park::after,
#red-mountains:checked ~ .main-form__fieldset-item--red-mountains::after {
  display: block;
}
@media (min-width: 768px) {
  .main-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 53px;
    justify-content: center;
  }
  .main-form__fieldset--assessment {
    order: 1;
    flex-basis: 324px;
    padding: 0;
    margin: 0;
  }
  .main-form__fieldset--introduce {
    order: 2;
    flex-basis: 324px;
    padding: 0;
    margin: 0;
  }
  .main-form__fieldset--contact {
    order: 3;
    flex-basis: 648px;
    padding: 0;
    margin: 0;
    margin-top: -265px;
    z-index: 2;
  }
  .main-form__fieldset--visited-places {
    order: 4;
    flex-basis: 648px;
    padding: 0;
    margin: 0;
  }
  .main-form__fieldset-list--assessment {
    padding-top: 58px;
  }
  .main-form__fieldset-list--assessment::after {
    content: "";
    display: block;
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
    position: relative;
    top: -312px;
    left: 303px;
  }
  .main-form__fieldset-list--introduce {
    margin-top: 35px;
    padding: 20px 0 3px 55px;
  }
  .main-form__fieldset-list--contacts {
    padding: 24px 0 21px 0;
  }
  .main-form__fieldset-list--visited-places {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 37px;
    padding-left: 95px;
  }
  .main-form__fieldset-item-positive {
    margin-bottom: 8px;
    margin-left: -20px;
    margin-top: -2px;
  }
  .main-form__fieldset-item-negative {
    margin-bottom: 7px;
    margin-left: -20px;
  }
  .main-form__fieldset-item-unknown {
    margin-left: -20px;
  }
  .main-form__fieldset-item--devils-bridge {
    flex-basis: 210px;
    min-width: 259px;
    margin-bottom: 10px;
  }
  .main-form__fieldset-item--mountain {
    flex-basis: 210px;
    min-width: 259px;
    margin-bottom: 10px;
  }
  .main-form__fieldset-item--park {
    flex-basis: 210px;
    min-width: 259px;
  }
  .main-form__fieldset-item--red-mountains {
    flex-basis: 210px;
    min-width: 259px;
  }
  .main-form__fieldset::after {
    display: none;
  }
  .main-form__legend {
    font-size: 21px;
    line-height: 26px;
  }
  .main-form__legend--assessment {
    position: relative;
    left: -26px;
  }
  .main-form__legend--introduce {
    position: relative;
    left: -25px;
    top: -1px;
  }
  .main-form__legend--visited-places {
    width: 285px;
  }
  .main-form__legend--visited-places::before {
    content: "";
    display: block;
    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
    position: relative;
    top: 22px;
    left: -182px;
  }
  .main-form__legend--visited-places::after {
    content: "";
    display: block;
    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
    position: relative;
    top: -31px;
    left: 341px;
  }
  .main-form__legend--contacts::before {
    content: "";
    display: block;
    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
    position: relative;
    top: 11px;
    left: -185px;
  }
  .main-form__legend--contacts::after {
    content: "";
    display: block;
    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
    position: relative;
    top: -16px;
    left: 340px;
  }
  .main-form__input-field--tel {
    margin-bottom: 10px;
    width: 100%;
  }
  .main-form__input-field--email {
    margin-bottom: 11px;
    width: 100%;
  }
  .main-form__textarea {
    position: relative;
    top: 40px;
    left: -10px;
    max-width: 625px;
    width: 625px;
    margin-bottom: 48px;
  }
  .main-form__required-fields {
    display: block;
    width: fit-content;
    position: relative;
    top: -80px;
    left: 546px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
  }
  .describe-wrapper {
    order: 5;
    margin-top: 23px;
  }
  .form-block {
    margin-bottom: -20px;
  }
}
@media (min-width: 1200px) {
  .main-form {
    justify-content: space-evenly;
  }
  .main-form__fieldset--assessment {
    flex-basis: 400px;
    margin-top: -17px;
  }
  .main-form__fieldset--introduce {
    flex-basis: 418px;
  }
  .main-form__fieldset--contact {
    flex-basis: 960px;
  }
  .main-form__legend--assessment {
    left: 9px;
  }
  .main-form__legend--introduce {
    left: -109px;
    top: -17px;
  }
  .main-form__fieldset-list--assessment::after {
    left: 453px;
  }
  .main-form__fieldset-list--contacts {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 68px;
  }
  .main-form__fieldset-list--introduce {
    padding: 0;
    padding-left: 13px;
    padding-top: 4px;
  }
  .main-form__fieldset-list__item--tel {
    flex-direction: row;
  }
  .main-form__fieldset-list__item--email {
    flex-direction: row;
  }
  .main-form__label--tel {
    display: none;
  }
  .main-form__label--tel-desktop {
    display: block;
    padding: 0;
  }
  .main-form__label--email {
    margin-top: 0;
  }
}
.tablet-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: unset;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  height: 56px;
  padding: 0;
}
.tablet-nav__list li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.tablet-nav__list__item {
  flex-basis: 153px;
  margin-top: 15px;
  text-align: center;
}
.tablet-nav__list__item--image {
  margin-top: 0;
}
.map {
  display: block;
}
.map--tablet {
  display: none;
}
.map--desktop {
  display: none;
}
@media (min-width: 768px) {
  .map {
    display: none;
  }
  .map--tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  .map {
    display: none;
  }
  .map--tablet {
    display: none;
  }
  .map--desktop {
    display: block;
    margin-top: 81px;
  }
}
