.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
body {
  font-family: 'PT Sans', sans-serif;
}
.main-nav {
  display: flex;
  flex-direction: column-reverse;
}
.main-nav__togle--close {
  width: 26px;
  height: 26px;
  margin-left: 25px;
  background-image: url(../img/icon-cross.png);
  background-color: black;
  font-size: 0;
}
.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-list__small-list {
  height: 56px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.site-list__small-list--first {
  flex-direction: row-reverse;
}
.site-list__small-list--second {
  flex-direction: row-reverse;
}
.site-list__small-list__item--first-first {
  order: 1;
  margin-right: 13px;
}
.site-list__small-list__item--second-first {
  order: 1;
}
.site-list__small-list__item--second-first a {
  margin-right: 20px;
}
.site-list__small-list__item--second-second {
  flex-basis: 91px;
}
.site-list__item {
  text-align: center;
  height: 56px;
  font-size: 18px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  background-color: hsl(203, 47%, 66%);
}
.site-list__item--first {
  background-color: hsl(0, 0%, 100%);
  order: 2;
}
.site-list__item a {
  display: block;
  margin-top: 7px;
}
.site-list a {
  text-decoration: none;
  color: white;
}
.prewiev {
  background-image: url(../img/slider.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  height: 299px;
  padding-left: 19px;
  padding-top: 89px;
}
.prewiev::after {
  content: "";
  display: block;
  background-image: url(../img/intro-triangle.png);
  background-repeat: no-repeat;
  height: 57px;
  width: 1201px;
  position: relative;
  top: 24px;
  left: -459px;
}
.advantages {
  text-align: center;
  overflow: hidden;
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages__header {
  font-size: 18px;
  line-height: 26px;
  margin: 41px auto 0 auto;
  width: 257px;
  text-transform: uppercase;
  font-weight: bold;
}
.advantages__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  width: 252px;
  margin: 27px auto 0 auto;
}
.advantages__item {
  list-style: none;
}
.advantages__item__header {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  padding-top: 41px;
}
.advantages__item__header--first {
  background-color: hsl(203, 47%, 66%);
}
.advantages__item__header--first::before {
  content: "";
  display: block;
  width: 768px;
  height: 37px;
  background-image: url(../img/white-copy.png);
  background-repeat: no-repeat;
  position: relative;
  top: -41px;
  left: -223px;
}
.advantages__item__photo {
  margin-left: -100px;
}
.advantages__item__number,
.advantages__item__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}
.advantages__item__number--first,
.advantages__item__text--first {
  background-color: hsl(203, 47%, 66%);
}
.advantages__item__text {
  padding: 15px 20px 40px 20px;
}
.small-list__header {
  font-size: 18px;
  line-height: 26px;
}
.small-list__header--first::before {
  display: block;
  content: "";
  background-image: url(../img/icon-house.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 37px;
  height: 37px;
}
.small-list__header--second::before {
  display: block;
  content: "";
  background-image: url(../img/icon-gift.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 37px;
  height: 37px;
}
.small-list__header--third::before {
  display: block;
  content: "";
  background-image: url(../img/icon-burger.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 37px;
  height: 37px;
}
.small-list__text {
  font-size: 14px;
  line-height: 21px;
}
.interesting__header {
  font-size: 21px;
  line-height: 26px;
}
.interesting__text {
  font-size: 14px;
  line-height: 24px;
}
.button-sample--blue {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  color: white;
  background-color: #81b3d2;
}
.page-footer__hash {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}
.page-footer__social-list {
  display: flex;
}
.social-list__item {
  font-size: 0;
  height: 48px;
  flex-basis: 48px;
  background-color: #81b3d2;
  background-position: 50%;
  background-repeat: no-repeat;
}
.social-list__item--first {
  background-image: url(../img/icon-twitter.png);
}
.social-list__item--second {
  background-image: url(../img/icon-facebook.png);
}
.social-list__item--third {
  background-image: url(../img/icon-youtube.png);
}
