.interesting{
  margin-bottom: 66px;
  &__header{
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 29px;
    margin-left: 56px;
  }
  &__text{
    font-size: 14px;
    line-height: 24px;
    margin: 19px auto 49px auto;
    padding: 0;
    width: 262px;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    &--tablet{
      display: none;
    }
  }
}
@media (min-width: 768px){
  .interesting{
    margin-bottom: 73px;
    &__header{
      font-size: 30px;
      line-height: 26px;
      margin: 0;
      margin-top: 57px;
      padding: 0;
      text-align: center;
    }
    &__text{
      display: none;
      &--tablet{
        display: block;
        width: 435px;
        padding-top: 11px;
        margin-bottom: 58px;
      }
    }
  }
}
@media (min-width: 1200px){
  .interesting{
    &__text{
      &--tablet{
        margin-bottom: 63px;
      }
    }
  }
}
