.page-footer{
  &__hash{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  margin-left: 91px;
  margin-top: 33px;
  }
  &__social-list{
    display: flex;
    width: 152px;
    margin-left: 44px;
    margin-top: 35px;
    justify-content: space-between;
  }
}