.photo-block{
  padding-left: 20px;
  &__list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__like-count{
    display: flex;
    height: 22px;
    margin-top: 2px;
    align-items: baseline;
  }
  &__like-image{
    margin-right: 10px;
    font-weight: bold;
    &--desktop{
      display: none;
    }
  }
  &__like-number{
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }
  &__image-name{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
  &__author{
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
  &__item{
    padding-top: 22px;
    padding-bottom: 21px;
    &::after {
      content: "";
      display: block;
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
      position: relative;
      top: 20px;
      left: -20px;
    }
  }
  &__image{
    margin-bottom: 15px;
    &--first{
      &-mobile{
      display: block;
      }
      &-tablet{
        display: none;
        margin-top: 20px;
        margin-bottom: 0;
      }
      &-desktop{
        display: none;
      }
    }
    &--second{
      &-mobile{
        display: block;
      }
      &-tablet{
        display: none;
      }
    }
    &--third{
      &-mobile{
        display: block;
      }
      &-tablet{
        display: none;
      }
    }
    &--fourth{
      &-mobile{
        display: block;
      }
      &-tablet{
        display: none;
      }
    }
  }
}
@media (min-width: 768px){
  .photo-block{
    padding-left: 60px;
    padding-right: 60px;
    &__item{
      padding-bottom: 0;
      &--2,
      &--3,
      &--4{
        padding-top: 0;
        height: 347px;
      }
      &__bottom-line{
        background-color: #f2f2f2;
        padding: 16px 0 16px 20px;
      }
      &::after{
        display: none;
      }
    }
    &__image{
      &--first{
        &-mobile{
        display: none;
        }
        &-tablet{
          display: block;
        }
      }
      &--second{
        &-mobile{
          display: none;
        }
        &-tablet{
          display: block;
          margin-bottom: 0;
        }
        &-desktop{
          display: none;
        }
      }
      &--third{
        &-mobile{
          display: none;
        }
        &-tablet{
          display: block;
          margin-bottom: 0;
        }
        &-desktop{
          display: none;
        }
      }
      &--fourth{
        &-mobile{
          display: none;
        }
        &-tablet{
          display: block;
          margin-bottom: 0;
        }
        &-desktop{
          display: none;
        }
      }
    }
    &__like-count{
      width: fit-content;
      float: right;
      position: relative;
      top: -38px;
      left: -19px;
      &--2{
        left: -28px;
      }
      &--3{
        left: -35px;
      }
      &--4{
        left: -28px;
      }
    }
    &__like-number{
      position: relative;
      top: -4px;
    }
  }
  .photo-flex{
    display: flex;
    flex-direction: column;
    &__item{
      &--first{
        margin-bottom: -8px;
      }
      &--second{
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
@media (min-width: 1200px){
  .photo-block{
    padding: 0;
    &__image{
      &--first,
      &--second,
      &--third,
      &--fourth{
        &-tablet{
          display: none;
        }
        &-desktop{
          display: block;
          margin: 0;
        }
      }
    }
    &__item{
      &__bottom-line{
        background-color: hsla(0, 0%, 0%, 0.3);
        padding: 16px 0 16px 20px;
        position: relative;
        top: -80px;
        color: white;
      }
      &--first{
        padding-top: 44px;
      }
      &--2,
      &--3,
      &--4{
        flex-basis: 400px;
        margin-top: -80px;
      }
    }
    &__like-image{
      display: none;
      &--desktop{
        display: block;
      }
    }
  }
}
