.prewiev{
  background-image: url(../img/slider.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  height: 299px;
  padding-left: 19px;
  padding-top: 89px;
  overflow: hidden;
  &::after{
    content: "";
    display: block;
    background-image: url(../img/intro-triangle.png);
    background-repeat: no-repeat;
    height: 57px;
    width: 1201px;
    position: relative;
    top: 28px;
    left: -459px;
  }
  &__text{
    &--mobile{
      display: block;
    }
    &--tablet-desktop{
      display: none;
    }
  }
}
@media (min-width: 768px){
  .prewiev{
    background-image: url(../img/slider-tablet.jpg);
    background-position: 50% 0%;
    height: 441px;
    padding-left: 154px;
    padding-top: 77px;
    &__text{
      &--mobile{
        display: none;
      }
      &--tablet-desktop{
        display: block;
      }
    }
    &::after{
      top: 34px;
      left: -370px;
    }
  }
}
